{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="pushdown">

</div>



    <!-- Contact Section -->
    <section id="connect" class="contact-section padding20">
        <div class="row">
                <div class="col-sm-12">
                    <h1 class="purpley bungee upper">Contact Me</h1>
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 greyish">
                    <p class="upper ubuntu">By Phone </p>
                    <p class="ubuntu"> (+353)851913714 // (+44)7716255847 </p>
                    <p class="upper ubuntu">By Email </p>
                    <p class="ubuntu"> kgmaxwell1990@gmail.com </p>
                    <p class="upper ubuntu">Via Social Media </p>
                    <p>
                    <a class="hvr-grow" href="https://www.facebook.com/katie.maxwell.731" target="_blank"><img src="{% static 'images/Facebook.png' %}" width="35px"/></a>
                    <a class="hvr-grow" href="https://twitter.com/KatieMaxwell261" target="_blank"><img src="{% static 'images/Twitter.png' %}" width="35px"/></a>
                    <a class="hvr-grow" href="https://www.instagram.com/kgmaxwell1990/?hl=en" target="_blank"><img src="{% static 'images/Instagram.png' %}" width="35px"/></a>
                    <a class="hvr-grow" href="https://www.linkedin.com/in/katie-maxwell-254826a4/" target="_blank"><img src="{% static 'images/Linkedin.png' %}" width="35px"/></a>
                    <a class="hvr-grow" href="https://github.com/kgmaxwell1990" target="_blank"><img src="{% static 'images/Github.png' %}" width="35px"/></a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 greyish">
                    <form role="form" action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <a class="page-scroll right hvr-grow" href="#page-top"><img src="{% static 'images/uparrow.png' %}" width="50px"/></a>
        </div>
    </section>



{% endblock %}