{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

    <section id="intro" class="intro-section" style="background-image: url('{% static 'images/dark-triangles.png'%}')">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 jumbo">
                    <h2 class="beige ubuntu">Software Developer </h2>
                    <h2 class="beige ubuntu">Web Design </h2>
                    <h2 class="beige ubuntu">Digital Marketing</h2>
                </div>
                <div class="col-sm-6">
                    <img/>
                </div>
                <div class="col-sm-12 scroll-button">
                    <p class="beige ubuntu"> Find out More About Me </p>
                    <a class="page-scroll" href="#about"><img src="{% static 'images/downarrow.png' %}" width="50px"/></a>
                </div>
            </div>
        </div>
    </section>

        <!-- About Section -->
    <section id="about" class="about-section" style="background-image: url('{% static 'images/me.jpg'%}')">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 black_background">
                    <h1 class="brown ubuntu left">About Me</h1>
                    <p class="left"> {% lorem 1 %}</p>
                </div>

                <div class="col-sm-12 scroll-button">
                    <p class="brown ubuntu"> See What I Have Been Doing </p>
                    <a class="page-scroll" href="#my-work"><img src="{% static 'images/downarrow.png' %}" width="50px"/></a>
                </div>
                <a class="page-scroll right" href="#page-top"><img src="{% static 'images/uparrow.png' %}" width="50px"/></a>
            </div>
        </div>
    </section>

        <!-- Services Section -->
    <section id="my-work" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="brown ubuntu">Some Websites I Have Been Working On </h1>
                </div>
                <div class="col-sm-12 scroll-button">

                    <p class="brown ubuntu"> Connect with Me </p>
                    <a class="page-scroll" href="#connect"><img src="{% static 'images/downarrow.png' %}" width="50px"/></a>
                </div>
                <a class="page-scroll right" href="#page-top"><img src="{% static 'images/uparrow.png' %}" width="50px"/></a>
                </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="connect" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="brown ubuntu">Connect with Me</h1>
                </div>
                <a class="page-scroll right" href="#page-top"><img src="{% static 'images/uparrow.png' %}" width="50px"/></a>
            </div>
        </div>
    </section>




{% endblock content %}