{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<!-- Portfolio Modals -->
{% for project in projects %}
<div class="portfolio-modal modal fade" id="portfolioModal{{project.id}}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{project.name}}</h4>
      </div>
      <div class="modal-body">
        <img src="{{MEDIA_URL}}{{project.image}}" class="img-responsive img-centered" alt="{{project.image_description}}">
        <div class="modalinfo">
          <p>{{project.description}}</p>
            {% if project.live_link %}
            <button class="btn btn-warning live_button"><a href="{{project.live_link}}" target="_blank">VIEW LIVE VERSION</a></button> 
            {% endif %} 
            {% if project.github_link %}
          <button class="btn btn-success git_button"><a href="{{project.github_link}}" target="_blank">VIEW GITHUB REPO</a></button>
          {% endif %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
{% endfor %}

<!-- Intro Section -->
<section class="intro_section" style="background-image: url('{% static 'images/headerpic.jpeg'%}')">
  <div class="main-info">
    <div class="col-sm-6 col-sm-offset-6 ">
      <h1 class="titleline" id="hi">Hi! I'm Katie.</h1>
      <div id="typing">
        <h2><div id="app"></div></h2>
        <h3><div id="app2"></div></h3>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about_section" style="background-image: url('{% static 'images/me2-min-min.jpg'%}')">
  <div id="about_section_info">
    <h1> About Me</h1>

    <p class="about_para">
      Hi I'm Katie Maxwell, a passionate Full Stack software developer!<br>
      I Completed <a href="https://www.codeinstitute.net/">Code Institute's</a> Bootcamp and was subsequently chosen as the Teaching Assistant for future courses.<br>
      I build end to end applications from wireframe to deployment.<br> 
      Designing attractive front-ends with solid logic behind the scenes!<br>

    </p>

    <div class="row links">
      <div class="col-sm-4 animated fadeIn wow" data-wow-duration="1s">
        <a href="https://www.linkedin.com/in/katie-maxwell-254826a4/" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
          <p>View my Linkedin profile</p>
        </a>
      </div>
      <div class="col-sm-4 animated fadeIn wow middle_one" data-wow-duration="1s" data-wow-delay="1s">
        <a class="pinky hvr-grow" href="https://github.com/kgmaxwell1990" target="_blank">
          <i class="fab fa-github fa-2x"></i>
          <p>View my GitHub Repository</p>
        </a>
      </div>
      <div class="col-sm-4 animated fadeIn wow" data-wow-duration="1s" data-wow-delay="2s">
        <a href="{% static 'Katie_Maxwell_Resume_pdf.pdf' %}" download target="_blank" class="pinky hvr-grow">
          <i class="fas fa-download fa-2x"></i>
          <p>Download My Resume</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Skills Section -->
<section id="skills_section" class="middle">
  <h1>Key Skills </h1>
  <div class="row main_skills">
      <div class="col-sm-4 animated slideInLeft wow" data-wow-duration="1s" data-wow-delay=".5s">
          <i class="fas fa-bolt fa-5x"></i>
        <h3>Technologies</h3>
        <p>HTML <br> CSS &amp; Bootstrap <br> JavaScript &amp; jQuery<br> AngularJS <br>d3.js/dc.js<br>
          Python <br> Flask &amp; Django</p>
      </div>
      <div class="col-sm-4 animated fadeIn wow" data-wow-duration="1s" data-wow-delay="2s">
          <i class="fas fa-cogs fa-5x"></i>
          <h3>Full Stack Development</h3>
          <p>Building full stack web applications from 
            wireframe to deployment using mobile-first design and UX/UI principles<br>
            Version control with Git and GitHub <br> 
            Automated Testing using Jasmine and Django's built in testing framework  <br>
            Deployment to Heroku and static file hosting with AWS<br>
            SQL/NoSQL Databases: MySQL, SQLite PostgreSQL &amp; MongoDB
          </p>
      </div>
      <div class="col-sm-4 animated slideInRight wow" data-wow-duration="1s" data-wow-delay=".5s">
          <i class="fas fa-handshake fa-5x"></i>
          <h3>Soft Skills</h3>
          <p>Adaptability <br> Problem Solving <br> Eagerness to Learn<br> Communication <br> 
            Teamworking<br>Customer service<br>Time Management
          </p>
      </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="project_section" class="middle">
    <h1>My Work</h1>
    <div class="row portfolio_rows">
        {% for project in projects %}
        <div class="col-sm-4 portfolio_item">
          <a href="#portfolioModal{{project.id}}" class="portfolio-link" data-toggle="modal">
            <img src="{{MEDIA_URL}}{{project.image}}" alt="{{project.image_description}}">
            
            <div class="overlay">
              <h5 class="picture_text">{{project.name}}</h5>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Contact Section -->
<section id="contact_section" class="middle">
  <h1>Contact Me</h1>

    <div class="row">
        <div class="col-md-6 go_left">
            <h3>By Phone </h3>
            <p> (+353)851913714 // (+44)7716255847 </p>
            <h3>By Email </h3>
            <p> kgmaxwell1990@gmail.com </p>
            <h3>Via Social Media </h3>
            <p>
            <a class="hvr-grow" href="https://twitter.com/KatieMaxwell261" target="_blank"><img src="{% static 'images/Twitter.png' %}" width="35px"/></a>
            <a class="hvr-grow" href="https://www.linkedin.com/in/katie-maxwell-254826a4/" target="_blank"><img src="{% static 'images/Linkedin.png' %}" width="35px"/></a>
            <a class="hvr-grow" href="https://github.com/kgmaxwell1990" target="_blank"><img src="{% static 'images/Github.png' %}" width="35px"/></a>
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 greyish">
            <form role="form" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

</div>

{% endblock content %}