{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}



    <section id="intro" class="intro-section padding100" >
        <div class="row">
            <div class="col-sm-12 animated zoomInDown">
                <h1 class="bungee upper pinky"> Full Stack Web Developer </h1>
                <a class="hvr-grow" href="https://www.linkedin.com/in/katie-maxwell-254826a4/" target="_blank"><img src="{% static 'images/Linkedin.png' %}" width="60px"/></a>
                <a class="hvr-grow" href="https://github.com/kgmaxwell1990" target="_blank"><img src="{% static 'images/Github.png' %}" width="60px"/></a>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-4 jumbo textleft">
                    <h2 class="animated fadeInLeftBig first">HTML </h2>
                    <h2 class="animated fadeInLeftBig second">CSS </h2>
                    <h2 class="animated fadeInLeftBig third">Bootstrap </h2>
                    <h2 class="animated fadeInLeftBig fourth">Javascript</h2> 
                    <h2 class="animated fadeInLeftBig fifth">JQuery</h2>
                    <h2 class="animated fadeInLeftBig sixth">Angular2</h2>

                </div>
                <div class="col-sm-4 animated zoomIn">
                    <img src="{% static 'images/me2.JPG' %}" width="300px" id="portrait"/>
                </div>
                <div class="col-sm-4 jumbo textright">
                    <h2 class="animated fadeInRightBig first">Python </h2>
                    <h2 class="animated fadeInRightBig second">Django </h2>
                    <h2 class="animated fadeInRightBig third">Flask</h2> 
                    <h2 class="animated fadeInRightBig fourth">SQL / NoSQL</h2>
                    <h2 class="animated fadeInRightBig fifth">Git & Github</h2>
                    <h2 class="animated fadeInRightBig sixth">Deployment</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 scroll-button">
                    <p class="greyish ubuntu"> Find out More About Me </p>
                    <a class="page-scroll hvr-pulse" href="#about"><img src="{% static 'images/downarrow.png' %}" width="50px"/></a>
                </div>
            </div>
    </section>

        <!-- About Section -->
    <section id="about" class="about-section padding100">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bungee upper purpley"> About Me</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 textcentre">
                <p> Hi! My name is Katie. I have recently finished the
                    Code Institute's bootcamp in Software Development! I am currently free
                    to do some freelance work while looking for a junior developer position.</br>
                    I came from a Sales/Marketing background but found my passion developing Websites last
                    year & haven't stopped coding since!</br>
                    The Bootcamp taught me so much - see just a few of the projects I completed 
                    over that time <a class="page-scroll pinky hvr-pulse" href="#my-work">HERE</a></br>
                </p>
                <div class="links">
                    <p><a class="pinky hvr-grow" href="https://www.linkedin.com/in/katie-maxwell-254826a4/">View my Linkedin profile</a></p>
                    <p><a class="pinky hvr-grow" href="https://github.com/kgmaxwell1990">View all my Repos on GitHub</a></p>
                    <p><a href="{% static 'Katie_Maxwell_Resume_pdf.pdf' %}" download target="_blank" class="pinky hvr-grow">Download Resume (pdf)</a></p>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 textcentre">
                <h2 class="bungee purpley">Key Skills </h2>
                <p> Establishing the purpose of the website based upon its target audience.</br>
                    Creating user friendly Front end projects using HTML, CSS and JavaScript as well as jQuery for animation</br>
                    Using bootstrap for effective and appealing web layouts that are fully responsive</br>
                    Building projects using Angular2 framework that connect with Twitter and Spotify API’s</br>
                    Data Visualisation using JavaScript library d3 for the front end and mongo back end with Python’s Flask framework</br>
                    Creating full stack projects using Python’s Django framework</br>
                    Creating apps in Django for back end website authentication</br>
                    for user registration, login and logout etc, Stripe payments,
                    and creating blogs with staff-only access</br>
                    Testing a website & identifying bugs/technical problems.</br>
                    Data creation, modification and selection using MySQL</br>
                    Deployment to Heroku online server, including using Heroku
                    Postgres database and Amazon AWS for static files.</br>
                    Version control with Git and repository hosting with GitHub
                </p>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12 scroll-button">
                    <p class="purpley ubuntu"> See What I Have Been Building </p>
                    <a class="page-scroll hvr-pulse" href="{% url 'work' %}"><img src="{% static 'images/downarrow.png' %}" width="50px"/></a>
                </div>
                <a class="page-scroll right hvr-grow" href="#page-top"><img src="{% static 'images/uparrow.png' %}" width="50px"/></a>
            </div>
    </section>



</div>





{% endblock content %}