body {
    background-color: beige;
}

h1 {
    color: brown;
}

.pushdown {
    margin-top: 120px;
}

.navbar {
    background-image: none;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: brown;
}

.navbar-default .navbar-brand {
    color: brown;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbo {
    /* background-color: gray;
    height: 400px; */
    margin-top: 200px;
    text-align: center;
}


#newpostbutton {
    margin-top: 100px;
}

