/* -------General styling Mobile------ */

body{
    position: relative;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    margin: 0;
    width: 100%;
}

section {
    padding: 50px 30px;
    display: block;
}
h1, h2, h3, h4, h5 {
    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}
a {
    text-decoration: none;
}


a:hover { 
    background-color: transparent !important; 
    text-decoration: none;
    color: inherit;
}

a:focus {
    background-color: transparent !important; 
}

p {
    font-family: 'Exo 2', sans-serif;
}

.pushdown {
    margin-top: 50px;
}

/* -------Navbar styling Mobile------ */

.navbar {
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background-color: rgba(252, 252, 252, 0.8);
}

.navbar-default .navbar-brand {
    padding-left: 30px;
}


#navbar-collapse-1 > ul > li{
    margin-left: 80px;
    margin-right: 80px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.hamburger {
    float: right;
    padding-right: 20px;
}

.hamburger-inner,
.hamburger-inner::before {
    border-radius: 40%
}
.hamburger--spin .hamburger-inner::after {
    border-radius: 40%
}

.nav-title a img,
.nav-title a h1 {
    display: inline;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 20px;
    font-weight: 100;
}

.nav-title a h1  {
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: gray;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}

/* -------Content styling Mobile------ */

.modalinfo {
    padding: 20px;
}

.portfolio-modal {
    text-align: center;
    margin: 5%;
}

section h1 ,
section h4{
    font-family: dosis, sans-serif;
    color: black;
}

.intro-section {
    background: center center no-repeat;
    background-size: cover;
    margin-top: -80px;
    height: 700px;
}

.titleline {
    margin-top: 350px;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

#hi {
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
}

#i_am {
    animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
}

#view {
    border: 1px solid grey;
    border-radius: 20px;
    animation-duration: 3s;
    -webkit-animation-delay: 5s;
    -moz-animation-iteration-count: infinite;
}

#app2 {
    height: 33px;
}

#typing h2 {
    font-size: 25px
}

#typing h3 {
    font-size: 20px;
}

#about-section{
    background: center no-repeat;
    background-size: contain;
}

#about-section-info{  
    width: 100%;
    background-color: rgba(252, 252, 252, 0.6);
    text-align: center;
}

#about-section-info p {
    color: black;
}

/* .links{
    margin-top: 45px;
} */

.links > p > a {
    font-size: 18px;
    font-weight: 900;
    
}

#skills-section {
    background-color: #F1F1F3;

}

.main-skills {
    text-align: center;
    margin-top: 80px;
}

.main-skills h3 {
    margin-top: 40px;
}

.fa-bolt {
    width: 50px;
}

.skill-images {
    text-align: center;
}

#project-section {

}

.card {
    margin: 10px;
    height: 200px;
    width: 100%;
    box-shadow: 2px 2px 2px black;
}

#contact-section {
    background-color: #F1F1F3;
}

/* -------Footer styling Mobile------ */
footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #A9ACA9; 
    position: relative;
    bottom: 0;
}


@media screen and (min-width:768px) {
/* -------General styling Desktop------ */

/* -------Navbar styling Desktop------ */
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }

    #navbar-collapse-1 > ul > li{
        border: none;
        margin: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        background-color: transparent;
    }
    #navbar-collapse-1 > ul > li:nth-child(5) > a {
        padding-right: 40px;
    }
    .hamburger {
        display: none;
    }

/* -------Content styling Desktop------ */

    .intro-section {
        margin-top: -50px;
        height: 100vh;
    }
    
    .titleline {
        margin-top: 250px;
        color: black;
        font-family: 'Dosis', sans-serif;
        font-weight: 100;
    }



    .main-info{
        text-align: left;
        padding-right: 20px;
        padding-left: 100px;
    }
    #about-section{
        background: right no-repeat fixed;
        background-size: contain;
    }
    
    #about-section-info{  
        width: 40%;
        background: none;
        text-align: left;
    }

    #about-section-info > p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
}

@media screen and (min-width:980px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 22px;
    }
    #about-section-info{  
        width: 50%;
    }
}

@media screen and (min-width:1100px) {
    #about-section-info{  
        width: 60%;
    }
}

